/* PREVENT SELECTION */
* {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;        
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.ARbutton{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 12px;
  background: rgb(135, 155, 214);
  transition: background 0.2s;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  z-index: 1000;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.ARbutton:active{
  background: royalblue;
}

/*XRDomOverlay */
#interface {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* DE-ACTIVATE MOUSE EVENTS (HTML TEXT CAN'T BE SELECTED, RIGHT-CLICK OPTIONS, ETC.) */
  pointer-events: none;

}

#hit-test-instructions {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  transform: translateY(-40%);
  color: #faf8f8;
  font-size: 22px;
  background: indianred;
  padding: 20px 20px 80px 20px;
  text-align: left;
  z-index: 100;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}



/* Position the button at the top right */
#hit-test-instructions button {
  position: absolute;
  bottom: 20px;
  right: 55px;
  background: rosybrown;
  color: white;
  font-size: 20px;
  font-weight: normal;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: background 0.2s ease-in-out, transform 0.1s;
}



.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0; 
  border-radius: 12px;
  background: teal;
  transition: background 0.2s;
  color: black;
  border: none;
  font-size: 50px;
  font-weight: bold;
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center; 
  line-height: 50px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  
  /* RE-ACTIVATE MOUSE EVENTS ON THIS ELEMENT (OVERRIDING THE PARENT) */
  pointer-events: auto;
  cursor: pointer;
}

.bottom-right:active {
  background: orange; 
}

.top-right {
  position: absolute;
  top: 50px;
  right: 20px;
  border-radius: 20%;
  background: indianred;
  transition: background 0.2s;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  /* RE-ACTIVATE MOUSE EVENTS ON THIS ELEMENT (OVERRIDING THE PARENT) */
  pointer-events: auto;
  cursor: pointer;
}

.top-right:active {
  background: grey; 
}

.top-right-second {
  position: absolute;
  top: 130px;
  right: 20px;
  border-radius: 20%;
  background: yellow;
  transition: background 0.2s;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  /* RE-ACTIVATE MOUSE EVENTS ON THIS ELEMENT (OVERRIDING THE PARENT) */
  pointer-events: auto;
  cursor: pointer;
}

.top-right-second:active {
  background: red; 
}



