/* PREVENT SELECTION */
* {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;        
}

/* body {
  touch-action: none;
  margin: 0;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
} */

/* #root {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
} */

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
  margin: 0;
}

#interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* DE-ACTIVATE MOUSE EVENTS (HTML TEXT CAN'T BE SELECTED, RIGHT-CLICK OPTIONS, ETC.) */
  pointer-events: none;

}

.bottom-right {
  position: absolute;
  top: 80%;
  right: 20px;
  transform: translateY(-80%);
  padding: 0; 
  border-radius: 12px;
  background: #FFD700;
  color: black;
  border: none;
  font-size: 50px;
  font-weight: bold;
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center; 
  line-height: 50px;
  /* RE-ACTIVATE MOUSE EVENTS ON THIS ELEMENT (OVERRIDING THE PARENT) */
  pointer-events: auto;
  cursor: pointer;
}

.top-right {
  position: absolute;
  top: 50px;
  right: 20px;
  border-radius: 20%;
  background: red;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  /* RE-ACTIVATE MOUSE EVENTS ON THIS ELEMENT (OVERRIDING THE PARENT) */
  pointer-events: auto;
  cursor: pointer;
}

.time {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 48px;
  background: #00000033;
  padding-top: 5px;
  text-align: center;
}

/* RESTART "BUTTON" */
.restart {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 80px;
  background: #00000033;
  padding-top: 10px;
  text-align: center;

  /* RE-ACTIVATE MOUSE EVENTS ON THIS ELEMENT (OVERRIDING THE PARENT) */
  pointer-events: auto;
  cursor: pointer;

  /* NEEDS TO BE HIGHER INDEX THAN #touch-controls-container FOR JUMP */
  z-index: 10;
}